@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

#preface .signature{
	text-align: right;
	margin-right: 2em;
}

#preface .location{
	text-indent: 0;
}

#preface .date{
	text-indent: 2em;
}

#chapter-3 p.last-child{
	text-indent: 0;
	text-align: center;
}

#chapter-9 p b{
	display: block;
	text-indent: 0;
	text-align: center;
}
