@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}

footer{
	margin-top: 1em;
	text-align: right;
}

.signature{ 
	font-variant: small-caps;
}

#chapter-3 p strong,
#chapter-9 p b{
	display: block;
	text-indent: 0;
	text-align: center;
}
